body{
  height: 100%;
  width:100%;
}

:root{
  --cor-primaria:#d62300;
  --cor-de-texto:#ffffff;
  --cor-de-borda-escura:#47404057;
  --para-botão-hover: #FF8732;
  --títulos:font-family:'pacifico';
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}



.cabeçalho {
  display: flex;
  justify-content: space-between;
  background-color: var(--cor-primaria);
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 1px 3px var(--cor-de-borda-escura);

}

.cabeçalho .logo {
  display: flex;
  width: 32px;
  margin-left: 11px;
  padding: 4px 0;
}

.cabeçalho .menu{
  display: flex;
  align-items: center;
  height: 100%;
}

.menu a {
  font-size: 13px;
  color: var(--cor-de-texto);
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 7px 40px 7px 20px;
  
}



/*fim do cabeçalho*/

.título{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.título p{
  padding: 29px;
  font-size: 16px; 
  margin-bottom: 18px;
  text-align: center;
  font-family:'cinzel';

}

.título h1{
  font-family:'Pacifico';
  margin: 50px 0px;
  position: absolute;
  top: 83px;
  right: 240px;
  color: var(--para-botão-hover);
  text-shadow: 2px 2px 4px #696967a7;
  font-size: 39px;
}

.título h2{
  font-family:'Pacifico';
  margin: 50px 0px;
  font-size: 38px;
}


.pedir{
  background-color: #FF8732;
  color: #ffffff;
  font-size: 16px;
  padding: 13px;
  border-radius: 7px;
  border: none;
  box-shadow: 1px 2px rgba(116, 70, 70, 0.408);
  cursor: pointer;
  transition: .4s ease-in-out;
}
.botão{
  display: flex;
  justify-content: center;
  padding-bottom: 39px;
}

.img{
  width: 100%;
}
.icone{
  width: 35px;
}
.faleconosco{
  display: flex;
  justify-content: center;
  align-items: center ;
  flex-direction: column;
  padding: 40px 0;
}

.pedir:hover{
  background-color: #FFAA00;
}


.content{         /* css das imagens*/
  height: 720px;
  width: 100%;
  overflow: hidden;
}

.navegação{
  position: absolute;
  bottom: 45px;
  left: 50%;
  display: flex;
}
.redondo{
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  margin: 6px;
  border-radius: 15px;
  cursor: pointer;
  transition: .6s ease;
}
.redondo:hover{
  background-color: var(--cor-primaria);
}

input{
  display: none;
}

.slides{
  display: flex;
  width: 400%;
  height: 100%;
}
.slide {
  width: 25%;
  transition: .6s;
  display: flex;
  
}
.slide img{
  width: 100%;
  height: 100%;
}

#slide1:checked ~ .s1{
  margin-left: 0;
}

#slide2:checked ~ .s1{
  margin-left: -25%;
}
#slide3:checked ~ .s1{
  margin-left: -50%;
}
#slide4:checked ~ .s1{
  margin-left: -75%;
}

footer {
  background-color: var(--cor-primaria);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 56px;
  padding-top: 10px;
  padding-left: 10px;
}

footer h3 {
  margin-bottom: 10px;
  text-align: center;
}

footer p {
  margin: 5px 0;
  text-align: center;
}


.topo {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #FF8732;
  color: #FFF;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
}

.topo:hover {
  background-color: #FFAA00;
}



/* #502314 #FFAA00 #FF8732 